.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo-red {
  color: #ff0000!important;
}

.logo-green {
  color: #00ff0b!important;
}

.logo-blue {
  color: #1423ff!important;
}