.panel .row .col-custom, .panel .row .btn-add-color {
    margin-bottom: 1rem;
    height: 9rem;
    width: 100%;
}

.panel .row .col-custom .card , .panel .row .col-custom .card .card-body{
    height: 100%;
    padding: 0;
}

.panel .row .col-custom .card .card-body .btn-delete {
    padding: 0;
    height: 25%;
    width: 14%;
}

.panel .row .col-custom .card .card-footer{
    padding: 0;
    height: auto;
    border-top: 0px;
}
