.modal .alert {
  width: 100%;
}

.modal .row {
  justify-content: center;
}

.modal-footer {
  border-top: none!important;
}

.modal form {
  width: 100%;
}

.modal form input[type='submit'] {
  display: none!important;
}