@media (max-width: 768px){
  .card .container-fluid {
      padding: 0!important;
  }
}

.card-header h5 .btn {
  font-size: .875rem!important;
}

.card-header-buttons svg, .card-header-buttons label {
  margin-left: 2rem;
}

.card-header-buttons label {
  margin-bottom: 0;
}
